.app-slider-demo__settings {
  margin-bottom: 2em;
}
.app-slider-demo__checkboxes {
  display: flex;
  gap: 1em;
}
.app-slider-demo__slider-block {
  border: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 1em;
}
.app-slider-demo__code {
  margin-bottom: 0;
}
