<h1>zv-slider</h1>

<div class="app-slider-demo__settings">
  <div class="app-slider-demo__checkboxes">
    <mat-checkbox [(ngModel)]="disabled" (change)="onDisabledChanged()">disabled</mat-checkbox>
    <mat-checkbox [(ngModel)]="showTooltip">Tooltip</mat-checkbox>
    <mat-checkbox [(ngModel)]="isRange" (change)="onIsRangeChange()">Range</mat-checkbox>
    <mat-checkbox [(ngModel)]="validatorRequired" (change)="onValidatorChange()">required validator</mat-checkbox>
  </div>
  <zv-form-field>
    <mat-label>min value</mat-label>
    <input matInput type="number" [(ngModel)]="min" />
  </zv-form-field>
  <zv-form-field>
    <mat-label>max value</mat-label>
    <input matInput type="number" [(ngModel)]="max" />
  </zv-form-field>
  <zv-form-field>
    <mat-label>step size</mat-label>
    <input matInput type="number" [(ngModel)]="stepSize" />
  </zv-form-field>
  <zv-form-field>
    <mat-label>connect</mat-label>
    <mat-select [(ngModel)]="connect" (selectionChange)="recreate()">
      <mat-option [value]="">--</mat-option>
      <ng-container *ngIf="!isRange">
        <mat-option [value]="[false, false]">[false, false]</mat-option>
        <mat-option [value]="[true, false]">[true, false]</mat-option>
        <mat-option [value]="[false, true]">[false, true]</mat-option>
        <mat-option [value]="[true, true]">[true, true]</mat-option>
      </ng-container>
      <ng-container *ngIf="isRange">
        <mat-option [value]="[false, false, false]">[false, false, false]</mat-option>
        <mat-option [value]="[false, true, false]">[false, true, false]</mat-option>
        <mat-option [value]="[true, false, true]">[true, false, true]</mat-option>
      </ng-container>
    </mat-select>
  </zv-form-field>
  <button type="button" mat-stroked-button (click)="setValues(null)">set values null</button>
  <button type="button" mat-stroked-button (click)="recreate()">recreate slider</button>
</div>

<ng-container *ngIf="show">
  <div class="app-slider-demo__slider-block">
    <zv-form-field>
      <mat-label>value</mat-label>
      <zv-slider
        [isRange]="isRange"
        [min]="min"
        [max]="max"
        [stepSize]="stepSize"
        [connect]="connect"
        [showTooltip]="showTooltip"
        [(value)]="value"
        [disabled]="disabled"
      ></zv-slider>
      <mat-hint>Value: {{ value }}</mat-hint>
    </zv-form-field>
    Code:
    <pre class="app-slider-demo__code">{{ getCodeSnippet('value') }}</pre>
  </div>

  <div class="app-slider-demo__slider-block">
    <zv-form-field>
      <mat-label>ngModel</mat-label>
      <zv-slider
        [isRange]="isRange"
        [min]="min"
        [max]="max"
        [stepSize]="stepSize"
        [connect]="connect"
        [showTooltip]="showTooltip"
        [(ngModel)]="model"
        [disabled]="disabled"
      ></zv-slider>
      <mat-hint>Value: {{ model }}</mat-hint>
    </zv-form-field>
    Code:
    <pre class="app-slider-demo__code">{{ getCodeSnippet('ngmodel') }}</pre>
  </div>

  <div class="app-slider-demo__slider-block" [formGroup]="form">
    <zv-form-field>
      <mat-label>form</mat-label>
      <zv-slider
        [isRange]="isRange"
        [min]="min"
        [max]="max"
        [stepSize]="stepSize"
        [connect]="connect"
        [showTooltip]="showTooltip"
        formControlName="control"
      ></zv-slider>
      <mat-hint>Value: {{ form.get('control').value }}</mat-hint>
    </zv-form-field>
    Code:
    <pre class="app-slider-demo__code">{{ getCodeSnippet('form') }}</pre>
  </div>
</ng-container>
