<div class="app-table-demo__settings">
  <mat-card class="app-table-demo__settings-box">
    <strong>ps-table</strong>
    <mat-checkbox [(ngModel)]="refreshable">[refreshable]</mat-checkbox>
    <mat-checkbox [(ngModel)]="filterable">[filterable]</mat-checkbox>
    <mat-checkbox [(ngModel)]="showSettings">[showSettings]</mat-checkbox>
    <mat-form-field>
      <mat-label>[layout]</mat-label>
      <mat-select [(ngModel)]="layout">
        <mat-option [value]="'card'">table as MarCard</mat-option>
        <mat-option [value]="'border'">table with border</mat-option>
        <mat-option [value]="'flat'">table without enclosure</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="striped">[striped]</mat-checkbox>
    <mat-checkbox [(ngModel)]="sortDefinitions"
      >[sortDefinitions]="[&#x7B; displayName: 'custom: `$&#x7B;boolean&#x7D;$&#x7B;string&#x7D;`', prop: 'hiddenSortable'
      &#x7D;]"</mat-checkbox
    >
    <mat-form-field>
      <mat-label>[caption]</mat-label>
      <input matInput type="string" [(ngModel)]="caption" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>[dataSource]</mat-label>
      <mat-select [(ngModel)]="dataSourceType" (selectionChange)="onDataSourceTypeChanged($event)">
        <mat-option [value]="'client'">sample data (client filter/sort/paging)</mat-option>
        <mat-option [value]="'error'">error while loading</mat-option>
        <mat-option [value]="'loading'">endless loading</mat-option>
        <mat-option [value]="'actions'">action definition</mat-option>
        <mat-option [value]="'empty'">no data</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="pageDebounce" />
      <mat-label>Page debounce in ms</mat-label>
    </mat-form-field>
    <div>(page) $event = &#x7B; pageIndex: number; previousPageIndex?: number; pageSize: number; length: number; &#x7D;</div>

    <mat-checkbox [(ngModel)]="disableAllSortable" (change)="rebuildTable()"
      >set all ps-table-column [sortable]="false" and ps-table [sortDefinitions]="null"</mat-checkbox
    >
  </mat-card>

  <mat-card class="app-table-demo__settings-box">
    <strong>ps-table-column (all inputs are only initially settable) (demo for date column)</strong>
    <mat-checkbox [(ngModel)]="columnMandatory">[mandatory]</mat-checkbox>
    <mat-checkbox [(ngModel)]="columnSortable" (change)="rebuildTable()">[sortable]</mat-checkbox>
    <mat-checkbox [(ngModel)]="columnHeaderStyles" (change)="rebuildTable()">[headerStyles]="&#x7B; 'color': 'green' &#x7D;"</mat-checkbox>
    <mat-checkbox [(ngModel)]="columnColumnStyles" (change)="rebuildTable()">[columnStyles]="&#x7B; 'color': 'green' &#x7D;"</mat-checkbox>
    <mat-form-field>
      <mat-label>[header]</mat-label>
      <input matInput type="string" [(ngModel)]="columnHeader" (change)="rebuildTable()" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>[width]</mat-label>
      <input matInput type="string" [(ngModel)]="columnWidth" (change)="rebuildTable()" />
    </mat-form-field>
    <mat-checkbox [(ngModel)]="columnHeaderTemplate" (change)="rebuildTable()">*psTableColumnHeaderTemplate</mat-checkbox>
    <mat-checkbox [(ngModel)]="columnColumnTemplate" (change)="rebuildTable()"
      >*psTableColumnTemplate="let item; let expanded = expanded"</mat-checkbox
    >
  </mat-card>

  <mat-card class="app-table-demo__settings-box">
    <strong>ps-table-row-detail (only initially defineable)</strong>
    <mat-checkbox [(ngModel)]="expandable" (change)="rebuildTable()">use</mat-checkbox>
    <mat-checkbox [(ngModel)]="expanded" (change)="rebuildTable()">[expanded]</mat-checkbox>
    <mat-checkbox [(ngModel)]="showToggleColumn" (change)="rebuildTable()">[showToggleColumn]</mat-checkbox>
    <mat-checkbox [(ngModel)]="showCustomToggleColumn" (change)="rebuildTable()">Use custom toggle column</mat-checkbox>
    <span>*psTableRowDetailTemplate="let item"</span>
  </mat-card>

  <mat-card class="app-table-demo__settings-box">
    <strong>template directives (only initially defineable)</strong>
    <mat-checkbox [(ngModel)]="customHeader">*psTableCustomHeader</mat-checkbox>
    <mat-checkbox [(ngModel)]="customSettings">*psTableCustomSettings</mat-checkbox>
    <mat-checkbox [(ngModel)]="customTopButton">*psTableTopButtonSection</mat-checkbox>
    <mat-checkbox [(ngModel)]="customListActions">*psTableListActions="let selection"</mat-checkbox>
    <mat-checkbox [(ngModel)]="customRowActions">*psTableRowActions="let item"</mat-checkbox>
  </mat-card>
</div>

<ps-table
  #table
  *ngIf="show"
  tableId="example"
  [dataSource]="dataSource"
  [caption]="caption"
  [sortDefinitions]="
    sortDefinitions && !disableAllSortable ? [{ displayName: 'custom: `${boolean}${string}`', prop: 'hiddenSortable' }] : null
  "
  [refreshable]="refreshable"
  [filterable]="filterable"
  [showSettings]="showSettings"
  [layout]="layout"
  [striped]="striped"
  [pageDebounce]="pageDebounce"
  (page)="onPage($event)"
>
  <ps-table-column [header]="'id'" property="id" [sortable]="!disableAllSortable"></ps-table-column>
  <ps-table-column [header]="'number'" property="number" [sortable]="!disableAllSortable"></ps-table-column>
  <ps-table-column [header]="'boolean'" property="boolean" [sortable]="!disableAllSortable"></ps-table-column>
  <ps-table-column
    [header]="columnHeader"
    property="date"
    [mandatory]="columnMandatory"
    [sortable]="columnSortable && !disableAllSortable"
    [headerStyles]="columnHeaderStyles ? { color: 'green' } : null"
    [columnStyles]="columnColumnStyles ? { color: 'green' } : null"
    [width]="columnWidth"
  >
    <ng-container *ngIf="columnHeaderTemplate">
      <ng-container *psTableColumnHeaderTemplate>
        <i style="color: blue;">date</i>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="columnColumnTemplate">
      <ng-container *psTableColumnTemplate="let item">
        {{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }}
      </ng-container>
    </ng-container>
  </ps-table-column>
  <ps-table-column [header]="'string'" property="string" [sortable]="!disableAllSortable"></ps-table-column>
  <ps-table-column
    [header]="'Custom row detail toggle'"
    property="__custom"
    [sortable]="false"
    *ngIf="showCustomToggleColumn && expandable"
  >
    <ng-container *psTableColumnTemplate="let item; let expanded = expanded">
      <button (click)="table.toggleRowDetail(item)">Custom row detail expand button</button>
    </ng-container>
  </ps-table-column>
  <ps-table-column [header]="'virtual column'" property="__virtual" [sortable]="false">
    <ng-container *psTableColumnTemplate="let item; let expanded = expanded"> expanded: {{ expanded }} </ng-container>
  </ps-table-column>

  <ng-container *ngIf="customHeader">
    <div *psTableCustomHeader style="border: 1px solid black; width: 100%;">
      custom header
    </div>
  </ng-container>

  <ng-container *ngIf="customSettings">
    <div *psTableCustomSettings style="border: 1px solid black; width: 100%;">
      custom settings
    </div>
  </ng-container>

  <ng-container *ngIf="customTopButton">
    <div *psTableTopButtonSection style="border: 1px solid black;">
      custom button section
    </div>
  </ng-container>

  <ng-container *ngIf="customListActions">
    <ng-container *psTableListActions="let selection">
      <button type="button" mat-menu-item (click)="alertData(selection)">
        custom list actions
      </button>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="customRowActions">
    <ng-container *psTableRowActions="let item">
      <button type="button" mat-menu-item>item {{ item.id }} custom row actions</button>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="expandable">
    <ps-table-row-detail [expanded]="expanded" [showToggleColumn]="showToggleColumn">
      <ng-container *psTableRowDetailTemplate="let item"> item: {{ item.id }} expanded: {{ expanded }} </ng-container>
    </ps-table-row-detail>
  </ng-container>
</ps-table>

<mat-card style="margin: 1em 0;"> Last page event: {{ pageEvent | json }} </mat-card>
