<mat-toolbar color="primary" [style.height]="'50px'">
  @prosoft/components
</mat-toolbar>
<mat-sidenav-container style="height: calc(100% - 50px)">
  <mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
      <a mat-list-item [routerLink]="['flip-container']">flip-container</a>
      <a mat-list-item [routerLink]="['select']">select</a>
      <a mat-list-item [routerLink]="['form-errors']">form-errors</a>
      <a mat-list-item [routerLink]="['form-field']">form-field</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 1em; box-sizing: border-box;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
