.mat-form-field--no-underline:hover .mdc-text-field--filled:not(.mdc-text-field--disabled) .mat-mdc-form-field-focus-overlay {
  opacity: 0;
}
.mat-form-field--no-underline .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
.mat-form-field--no-underline .mdc-line-ripple::before,
.mat-form-field--no-underline .mdc-line-ripple::after {
  border: 0 !important;
}

.mat-form-field--no-underline .mdc-notched-outline .mdc-notched-outline__leading,
.mat-form-field--no-underline .mdc-notched-outline .mdc-notched-outline__notch,
.mat-form-field--no-underline .mdc-notched-outline .mdc-notched-outline__trailing {
  border: none;
}

zv-form-field .mat-mdc-form-field {
  margin: 0.25em 0;
}

zv-form-field .mat-form-field-invalid .mdc-checkbox__background,
zv-form-field .mat-form-field-invalid .mdc-radio__outer-circle,
zv-form-field .mat-form-field-invalid .mdc-slider__thumb-knob {
  border-color: var(--zv-components-error) !important;
}
/* Centers suffix icon */
.mat-mdc-form-field-icon-suffix {
  display: flex;
}

zv-form-field .mat-form-field-invalid .mat-mdc-form-field-error {
  line-height: 1em;
}

/* Allow multiline errors/hints */
.zv-form-field--subscript-resize .mat-mdc-form-field-bottom-align::before {
  display: block;
  height: auto;
}
.zv-form-field--subscript-resize .mat-mdc-form-field-hint-wrapper,
.zv-form-field--subscript-resize .mat-mdc-form-field-error-wrapper {
  position: static;
}
