<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<mat-form-field
  ngSkipHydration
  style="width: 100%"
  [class.mat-form-field--emulated]="emulated"
  [class.mat-form-field--no-underline]="noUnderline"
  [floatLabel]="floatLabel"
  [hintLabel]="hintText"
>
  @if (_labelChild) {
    <mat-label>
      <ng-content select="mat-label"></ng-content>
    </mat-label>
  }
  @if (!_labelChild && calculatedLabel) {
    <mat-label>
      <mat-label>{{ calculatedLabel }}</mat-label>
    </mat-label>
  }
  @if (_prefixChildren.length) {
    <ng-container matPrefix>
      <ng-content select="[matPrefix]"></ng-content>
    </ng-container>
  }
  <ng-content></ng-content>
  @if (_suffixChildren.length) {
    <ng-container matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </ng-container>
  }
  @if (showHintToggle) {
    <button type="button" mat-icon-button matSuffix (click)="toggleHint($event)">
      <mat-icon>info_outline</mat-icon>
    </button>
  }

  @for (error of errors$ | async; track error.errorText) {
    <mat-error>{{ error.errorText }}</mat-error>
  }
</mat-form-field>
