.ps-savebar__main-container {
  box-sizing: border-box;
}

.ps-savebar__content-container {
  bottom: -1px;
  margin: 1em 0 1em 0;
  z-index: 5;
  padding: 1em !important;
  display: flex;
  justify-content: space-between;
  border-top: solid var(--ps-accent) 5px;
}

mat-card.ps-savebar__content-container--sticky {
  position: sticky;
}

.ps-savebar__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: -0.25em;
  width: 100%; /* Muss wegen display: flex auf 100% gestretched werden */

  button[mat-raised-button],
  button[mat-stroked-button] {
    margin: 0.25em;
  }
}

.ps-savebar__container-spacer {
  margin-right: auto;
}

@media only screen and (max-width: 35em) {
  mat-card.ps-savebar__content-container--sticky {
    position: initial;
  }
}
