<div class="ps-savebar__main-container">
  <ng-content></ng-content>
  <mat-card *ngIf="!isHidden" [class.ps-savebar__card--sticky]="isSticky" class="ps-savebar__card mat-elevation-z2">
    <div class="ps-savebar__container">
      <ps-form-errors *ngIf="form" [form]="form" [includeControls]="false"></ps-form-errors>
      <div *ngIf="!form" class="ps-savebar__container-spacer"></div>
      <div class="ps-savebar__container-spacer"></div>

      <button
        *ngIf="hasObservers(save)"
        mat-raised-button
        type="button"
        color="primary"
        class="ps-savebar__button__save"
        [disabled]="saveDisabled"
        (click)="save.emit()"
      >
        {{ intl?.saveLabel }}
      </button>
      <button
        *ngIf="hasObservers(saveAndClose)"
        mat-raised-button
        type="button"
        color="primary"
        class="ps-savebar__button__save-and-close"
        [disabled]="saveDisabled"
        (click)="saveAndClose.emit()"
      >
        {{ intl?.saveAndCloseLabel }}
      </button>

      <ng-container *ngIf="customRightContent" [ngTemplateOutlet]="customRightContent"></ng-container>

      <button
        *ngIf="hasObservers(step)"
        mat-stroked-button
        type="button"
        class="ps-savebar__button__prev"
        (click)="step.emit(-1)"
        [disabled]="!canStepBack"
      >
        {{ intl?.prevLabel }}
      </button>
      <button
        *ngIf="hasObservers(step)"
        mat-raised-button
        type="button"
        color="primary"
        class="ps-savebar__button__next"
        (click)="step.emit(1)"
        [disabled]="!canStepFwd"
      >
        {{ intl?.nextLabel }}
      </button>

      <button *ngIf="hasObservers(cancel)" mat-stroked-button type="button" class="ps-savebar__button__cancel" (click)="cancel.emit()">
        {{ intl?.cancelLabel }}
      </button>
    </div>
  </mat-card>
</div>
