.zv-view__main-container {
  box-sizing: border-box;
}

.zv-view__cards-container {
  display: grid;
  grid-gap: 1em;
}

mat-card.zv-view__error-container {
  color: var(--zv-components-error);
}

mat-card.zv-view__error-container--center {
  display: grid;
  justify-items: center;
}

mat-icon.zv-view__error-icon {
  color: var(--zv-components-error);
  font-size: 72px;
  height: 72px;
  width: 72px;
}
