@if (dataSource) {
  <div class="zv-view__main-container">
    <div class="zv-view__cards-container">
      @if (dataSource.contentVisible()) {
        <zv-block-ui [blocked]="dataSource.contentBlocked()">
          <ng-content></ng-content>
        </zv-block-ui>
      }
      @if (dataSource.error()) {
        <mat-card class="zv-view__error-container">
          @if (dataSource.errorIcon()) {
            <mat-icon class="zv-view__error-icon">{{ dataSource.errorIcon() }}</mat-icon>
          }
          <span>{{ dataSource.error() | zvErrorMessage }}</span>
        </mat-card>
      }
    </div>
  </div>
}
