@import 'nouislider/dist/nouislider';

zv-slider {
  .noUi-target {
    height: 20px;
    border: none;
    box-shadow: none;
    background: linear-gradient(to bottom, transparent 40%, #d3d3d3d3 40%, #d3d3d3d3 60%, transparent 60%);
    margin: 0 0.7em;

    &[disabled] {
      .noUi-handle {
        border-color: #d3d3d3d3;
      }
    }
  }

  .noUi-handle {
    &::before {
      content: unset;
    }

    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    border-color: var(--zv-primary);
    box-shadow: none;
    transform: translate(-50%, 30%);
    &:hover {
      cursor: grab;
    }

    &::after {
      content: unset;
    }

    &:focus,
    &:active {
      background: var(--zv-primary);
    }
  }

  .noUi-connect {
    height: 4px;
    top: calc(50% - 2px);
    background: var(--zv-accent);
  }

  .noUi-tooltip {
    display: none;
  }

  .noUi-active .noUi-tooltip {
    display: block;
    cursor: grabbing;
  }

  .noUi-active {
    cursor: grabbing;
  }

  &.zv-slider-invalid {
    .noUi-target {
      background: linear-gradient(to bottom, transparent 40%, var(--zv-error) 40%, var(--zv-error) 60%, transparent 60%);
    }
    .noUi-handle {
      border-color: var(--zv-error);
    }
  }
}
