.zv-flip-container__flip-box {
  display: grid;
  grid-template-areas: 'content';
}

.zv-flip-container__side {
  grid-area: content;
}

.zv-flip-container__animation-flip {
  &.zv-flip-container__container {
    perspective: 100%;
  }

  .zv-flip-container__flip-box {
    position: relative;
    transform-style: preserve-3d;
  }

  .zv-flip-container__side {
    backface-visibility: hidden;
  }

  .zv-flip-container__side__back {
    transform: rotateY(180deg);
  }

  .zv-flip-container__side__front {
    transform: rotateY(0deg);
  }
}

.zv-flip-container__animation-fade {
  .zv-flip-container__side__front {
    z-index: 1;
  }
}
