<div class="zv-flip-container__container" [class]="'zv-flip-container__animation-' + animation">
  <div class="zv-flip-container__flip-box" [@flipState]="_activeState" (@flipState.start)="_flipStart()" (@flipState.done)="_flipDone()">
    <div #frontside class="zv-flip-container__side zv-flip-container__side__front">
      <ng-container *ngIf="_attachFront || !removeHiddenNodes" [ngTemplateOutlet]="_frontTemplate"></ng-container>
    </div>
    <div #backside class="zv-flip-container__side zv-flip-container__side__back">
      <ng-container *ngIf="_attachBack || !removeHiddenNodes" [ngTemplateOutlet]="_backTemplate"></ng-container>
    </div>
  </div>
</div>
