.zv-form-field-type-mat-slider .mat-form-field-appearance-outline mat-slider {
  margin: -1em 0;
  width: 100%;
}

.zv-form-field-type-mat-radio-group .mat-form-field-appearance-outline .mat-mdc-form-field-infix,
.zv-form-field-type-mat-mdc-checkbox .mat-form-field-appearance-outline .mat-mdc-form-field-infix {
  padding: 0.5em 0;
}
