<ps-card [caption]="'Card with simple caption'" [description]="'Here you see the simple card caption with some description text'">
  <div class="app-card-demo__content-wrapper">
    <h2 class="app-card-demo__content">Content goes here</h2>
  </div>
</ps-card>

<ps-card class="app-card-demo__ps-card" [caption]="'Card with actions'" [description]="'Here you see the ps-card with an action'">
  <ng-container *psCardTopButtonSection>
    <button mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>
  <div class="app-card-demo__content-wrapper">
    <h2 class="app-card-demo__content">Content goes here</h2>
  </div>
</ps-card>

<ps-card class="app-card-demo__ps-card" [caption]="'Card with footer'" [description]="'Here you see the ps-card with a footer'">
  <ng-container *psCardTopButtonSection>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Add
    </button>
    <button style="margin-left: 1em;" mat-raised-button color="accent">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </ng-container>
  <div class="app-card-demo__content-wrapper">
    <h2 class="app-card-demo__content">Content goes here</h2>
  </div>
  <ng-container *psCardFooterSection> <strong>This is some footer: </strong>someValue </ng-container>
</ps-card>

<ps-card class="app-card-demo__ps-card">
  <ng-container *psCardCaptionSection>
    <h1 style="background-color: cyan;">Card with custom caption</h1>
  </ng-container>
  <ng-container *psCardDescriptionSection>
    <span style="background-color: lightblue;">You can also set a custom description</span>
  </ng-container>
  <ng-container *psCardTopButtonSection>
    <button mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button style="margin-left: 1em;" mat-mini-fab color="accent">
      <mat-icon>edit</mat-icon>
    </button>
    <button style="margin-left: 1em;" mat-mini-fab color="warn">
      <mat-icon>clear</mat-icon>
    </button>
  </ng-container>
  <div class="app-card-demo__content-wrapper">
    <h2 class="app-card-demo__content">Content goes here</h2>
  </div>
  <ng-container *psCardFooterSection> <strong>This is some footer: </strong>someValue </ng-container>
</ps-card>

<ps-card class="app-card-demo__ps-card">
  <ng-container *psCardCaptionSection>
    <h1 style="background-color: cyan;">Card with actions</h1>
  </ng-container>
  <ng-container *psCardDescriptionSection>
    <span style="background-color: lightblue;">You can also set a custom description</span>
  </ng-container>
  <ng-container *psCardTopButtonSection>
    <button mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <button style="margin-left: 1em;" mat-mini-fab color="accent">
      <mat-icon>edit</mat-icon>
    </button>
    <button style="margin-left: 1em;" mat-mini-fab color="warn">
      <mat-icon>clear</mat-icon>
    </button>
  </ng-container>
  <div class="app-card-demo__content-wrapper">
    <h2 class="app-card-demo__content">Content goes here</h2>
  </div>
  <ng-container *psCardActionsSection>
    <div style="text-align: right;">
      <button mat-button color="primary">Add</button>
      <button mat-stroked-button>Cancel</button>
    </div>
  </ng-container>
  <ng-container *psCardFooterSection> <strong>This is some footer: </strong>someValue </ng-container>
</ps-card>

<ps-card class="app-card-demo__ps-card" style="height: 900px;">
  <div class="app-card-demo__content-wrapper">
    <h2 class="app-card-demo__content">Content goes here</h2>
  </div>
  <ng-container *psCardFooterSection> <strong>This is some footer: </strong>someValue </ng-container>
</ps-card>
