@if (type() === 'icon') {
  <button
    mat-icon-button
    type="button"
    [color]="color()"
    [class]="'zv-btn-' + (color() ?? 'default')"
    [disabled]="disabled()"
    [attr.data-cy]="dataCy()"
  >
    @if (icon()) {
      <mat-icon>{{ icon() }}</mat-icon>
    }
    <ng-container [ngTemplateOutlet]="content" />
  </button>
} @else {
  <button
    [matButton]="appearance()"
    type="button"
    [color]="color()"
    [class]="'zv-btn-' + (color() ?? 'default')"
    [disabled]="disabled()"
    [attr.data-cy]="dataCy()"
  >
    @if (icon()) {
      <mat-icon>{{ icon() }}</mat-icon>
    }
    <ng-container [ngTemplateOutlet]="content" />
  </button>
}

<ng-template #content>
  <ng-content />
</ng-template>
