@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  margin: 0;
  height: 100%;
  --ps-error: #f44336;
  --ps-error-contrast: #ffffff;
  --ps-primary: #673ab7;
  --ps-primary-contrast: #ffffff;
  --ps-accent: #ffd740;
  --ps-accent-contrast: #ffffff;
}
