.app-date-time-input-demo__grid {
  display: grid;
  gap: 1em;
}

.app-date-time-input-demo__settings {
  margin-bottom: 2em;
}
.app-date-time-input-demo__checkboxes {
  display: flex;
}
.app-date-time-input-demo__checkboxes mat-checkbox {
  margin-right: 1em;
}
