zv-table {
  display: block;
  border-radius: 4px;

  .zv-table__no-entries-text,
  .zv-table__error-text {
    font-size: large;
    background-color: white;
    padding: 1em 0;
    text-align: center;
  }

  .zv-table__error-text {
    color: var(--zv-components-error);
  }
}

.zv-table--card {
  background-color: var(--mat-card-elevated-container-color);
}
.zv-table--border {
  background-color: var(--mat-card-outlined-container-color);
}

.zv-table--border {
  border: thin solid rgba(0, 0, 0, 0.12);
}
