zv-table {
  display: block;
  border-radius: 4px;

  .zv-table__no-entries-text,
  .zv-table__error-text {
    font-size: large;
    background-color: white;
    padding: 1em 0;
    text-align: center;
  }

  .zv-table__error-text {
    color: var(--zv-components-error);
  }

  .zv-table__shadow {
    box-shadow: 0 -1px 6px -2px rgba(0, 0, 0, 0.2);
  }
}

.zv-table--card {
  background-color: #fafafa;
}

.zv-table--border {
  border: thin solid rgba(0, 0, 0, 0.12);
}
