<zv-flip-container [animation]="'fade'">
  <div *zvFlipContainerFront>
    <zv-table-header
      [intl]="intl"
      [caption]="caption"
      [topButtonSection]="topButtonSection"
      [selectedRows]="dataSource.selectionModel.selected"
      [customHeader]="customHeader"
      [showSorting]="showSorting"
      [sortColumn]="sortColumn"
      [sortDirection]="sortDirection"
      [sortDefinitions]="sortDefinitions"
      [filterable]="filterable"
      [searchText]="filterText"
      (sortChanged)="onSortChanged($event)"
      (searchChanged)="onSearchChanged($event)"
    ></zv-table-header>

    <zv-block-ui [class.zv-table__shadow]="layout === 'card'" [blocked]="showLoading" [clickthrough]="true">
      <zv-table-data
        [intl]="intl"
        [dataSource]="dataSource"
        [tableId]="tableId"
        [rowActions]="rowActions"
        [rowDetail]="rowDetail"
        [columnDefs]="columnDefs"
        [listActions]="listActions"
        [refreshable]="refreshable"
        [settingsEnabled]="settingsEnabled"
        [showListActions]="showListActions"
        [displayedColumns]="displayedColumns"
        (showSettingsClicked)="flipContainer.showBack()"
        (refreshDataClicked)="onRefreshDataClicked()"
      ></zv-table-data>

      <div class="zv-table__no-entries-text" *ngIf="showNoEntriesText">{{ intl.noEntriesLabel }}</div>
      <div class="zv-table__error-text" *ngIf="showError">{{ errorMessage }}</div>
      <zv-table-pagination
        [pageSize]="pageSize"
        [dataLength]="dataLength"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        [intl]="intl"
        [pageDebounce]="pageDebounce"
        (page)="onPage($event)"
      ></zv-table-pagination>
    </zv-block-ui>
  </div>
  <div *zvFlipContainerBack>
    <zv-table-settings
      *ngIf="settingsEnabled"
      [tableId]="tableId"
      [intl]="intl"
      [columnDefinitions]="columnDefs"
      [sortDefinitions]="sortDefinitions"
      [pageSizeOptions]="pageSizeOptions"
      (settingsAborted)="flipContainer.showFront()"
      (settingsSaved)="onSettingsSaved()"
      [customSettings]="customSettings"
    >
    </zv-table-settings>
  </div>
</zv-flip-container>
