zv-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  flex-shrink: 0;
}

// Sizes
.zv-avatar--small {
  width: 24px;
  height: 24px;

  .zv-avatar__icon {
    font-size: 15px;
    width: 15px;
    height: 15px;
  }

  .zv-avatar__initials {
    font-size: 12px;
  }
}

.zv-avatar--medium {
  width: 40px;
  height: 40px;

  .zv-avatar__icon {
    font-size: 25px;
    width: 25px;
    height: 25px;
  }

  .zv-avatar__initials {
    font-size: 16px;
  }
}

.zv-avatar--large {
  width: 120px;
  height: 120px;

  .zv-avatar__icon {
    font-size: 80px;
    width: 80px;
    height: 80px;
  }

  .zv-avatar__initials {
    font-size: 45px;
  }
}

// Variants
.zv-avatar--round {
  border-radius: 50%;
}

.zv-avatar--square {
  &.zv-avatar--small {
    border-radius: 2px;
  }

  &.zv-avatar--medium {
    border-radius: 4px;
  }

  &.zv-avatar--large {
    border-radius: 8px;
  }
}

// Type colors
.zv-avatar--type-avatar {
  background-color: #dfe0ff;
  color: var(--zv-components-font);
}

.zv-avatar--type-initials {
  background-color: #dfe0ff;
  color: var(--zv-components-font);
}

.zv-avatar--type-image {
  background-color: transparent;
}

// Elements
.zv-avatar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zv-avatar__initials {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

.zv-avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
