.app-api-doc__table {
  border-collapse: collapse;
  width: 100%;
  font-weight: normal;

  thead {
    border-bottom: 1px solid #cacaca;
  }

  tbody:not(:last-of-type)::after {
    content: '';
    display: block;
    height: 1.5em;
    width: 100%;
    background: transparent;
  }

  th,
  td {
    text-align: left;
    padding: 0.625em 0.875em;
  }
}
.app-api-doc__table--striped tbody tr:nth-child(even) {
  background-color: #f2f4f7;
}
