.zv-form-errors__container .zv-form-errors__item {
  font-size: 12px;
  --mdc-chip-outline-color: var(--zv-components-error);
  --mdc-chip-elevated-container-color: var(--zv-components-error);
  --mdc-chip-label-text-color: var(--zv-components-error-contrast);
}
