.zv-form-errors__container .zv-form-errors__item {
  font-size: 12px;
  --mat-chip-outline-color: var(--zv-components-error);
  --mat-chip-elevated-container-color: var(--zv-components-error);
  --mat-chip-label-text-color: var(--zv-components-error-contrast);
}
