@if (dialogTitle) {
  <h1 mat-dialog-title>
    {{ dialogTitle }}
  </h1>
}
<mat-dialog-content>
  @if (contentVisible) {
    <zv-block-ui [blocked]="contentBlocked">
      <ng-content></ng-content>
    </zv-block-ui>
  }
</mat-dialog-content>
<mat-dialog-actions class="zv-dialog-wrapper__action-bar-container">
  <div class="zv-dialog-wrapper__progress-container">
    @if (showProgress) {
      <mat-progress-bar mode="determinate" [value]="progress" class="zv-dialog-wrapper__progres-bar"></mat-progress-bar>
    }
  </div>
  @if (showProgress) {
    <div class="zv-dialog-wrapper__progress-text">{{ progress }}%</div>
  }
  @if (exception) {
    <div class="zv-dialog-wrapper__error">
      {{ exception.errorObject | zvErrorMessage }}
    </div>
  }
  <div class="zv-dialog-wrapper__buttons">
    @for (btn of buttons; track btn) {
      <zv-button
        [type]="btn.type"
        [color]="btn.color"
        [icon]="btn.icon"
        [disabled]="btn.disabled && btn.disabled()"
        [dataCy]="btn.dataCy"
        (click)="btn.click()"
      >
        {{ btn.label }}
      </zv-button>
    }
  </div>
</mat-dialog-actions>
