.zv-dialog-wrapper__error {
  color: var(--zv-components-error);
}

.zv-dialog-wrapper__buttons {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.zv-dialog-wrapper__action-button {
  margin: 0.25em;
}

zv-dialog-wrapper {
  display: block;
  /** Max possible width a MatDialog can be without showing a horizontal scrollbar  */
  max-width: calc(80vw - 48px);
}

.zv-dialog-wrapper__progress-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  min-height: 4px;
}
.zv-dialog-wrapper__progress-text {
  align-self: center;
}
