.zv-dialog-wrapper__error {
  color: var(--zv-error);
}

.zv-dialog-wrapper__buttons {
  margin-left: auto;
}

.zv-dialog-wrapper__action-button {
  margin: 0.25em;
}

zv-dialog-wrapper {
  display: block;
  /** Max possible width a MatDialog can be without showing a horizontal scrollbar  */
  max-width: calc(80vw - 48px);
}
