.app-file-input-demo__settings {
  margin-bottom: 2em;
}
.app-file-input-demo__checkboxes {
  display: flex;
}
.app-file-input-demo__checkboxes mat-checkbox {
  margin-right: 1em;
}
.app-file-input-demo__input-block {
  border: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 1em;
}
.app-file-input-demo__code {
  margin-bottom: 0;
}
