@if (showHeader()) {
  @let captionTpl = captionSection();
  @let descriptionTpl = descriptionSection();
  @let topButtonTpl = topButtonSection();
  <zv-header [caption]="caption()" [description]="description()">
    @if (captionTpl) {
      <ng-container *zvHeaderCaptionSection [ngTemplateOutlet]="captionTpl" />
    }
    @if (descriptionTpl) {
      <ng-container *zvHeaderDescriptionSection [ngTemplateOutlet]="descriptionTpl" />
    }
    @if (topButtonTpl) {
      <ng-container *zvHeaderTopButtonSection [ngTemplateOutlet]="topButtonTpl" />
    }
  </zv-header>
}
<mat-card class="zv-card__content" [style.padding]="contentPadding()">
  <mat-card-content>
    <ng-content />
  </mat-card-content>
  @let actionsTpl = actionsSection();
  @if (actionsTpl) {
    <mat-card-actions>
      <ng-container [ngTemplateOutlet]="actionsTpl" />
    </mat-card-actions>
  }
  @let footerTpl = footerSection();
  @if (footerTpl) {
    <mat-card-footer>
      <ng-container [ngTemplateOutlet]="footerTpl" />
    </mat-card-footer>
  }
</mat-card>
