<zv-header *ngIf="showHeader" [caption]="caption" [description]="description">
  <ng-container *zvHeaderCaptionSection [ngTemplateOutlet]="captionSection"></ng-container>
  <ng-container *zvHeaderDescriptionSection [ngTemplateOutlet]="descriptionSection"></ng-container>
  <ng-container *zvHeaderTopButtonSection [ngTemplateOutlet]="topButtonSection"></ng-container>
</zv-header>
<mat-card class="zv-card__content" [style.padding]="contentPadding">
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions *ngIf="actionsSection">
    <ng-container [ngTemplateOutlet]="actionsSection"></ng-container>
  </mat-card-actions>
  <mat-card-footer *ngIf="footerSection">
    <ng-container [ngTemplateOutlet]="footerSection"></ng-container>
  </mat-card-footer>
</mat-card>
