zv-card {
  display: grid;
  mat-card-actions {
    margin: 0 8px 0 auto;
  }
}

.zv-card__with-header {
  grid-template-rows: auto 1fr;
}

mat-card.zv-card__content {
  display: grid;
  grid-template-rows: 1fr auto;
}
