<mat-card>
  <mat-card-header>
    <mat-card-title>{{
      type() === 'signal'
        ? 'Signal forms'
        : type() === 'form'
          ? 'Reactive forms'
          : type() === 'model'
            ? '[(ngModel)] binding'
            : '[(value)] binding'
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <ng-content />
    </div>
    <div class="app-form-control-demo-card__state">
      <div>Value</div>
      <div>
        <pre>{{ field() ? field().value() : (formControl?.value ?? value()) }}</pre>
      </div>
      <div>Value Type</div>
      <div>
        <pre>{{ getType(field() ? field().value() : (formControl?.value ?? value())) }}</pre>
      </div>
      @if (field(); as state) {
        <div>Touched</div>
        <div>{{ state.touched() }}</div>
        <div>Dirty</div>
        <div>{{ state.dirty() }}</div>
        <div>Valid</div>
        <div>{{ state.valid() }}</div>
        <div>Pending</div>
        <div>{{ state.pending() }}</div>
        <div>Errors</div>
        <div>
          @for (error of state.errors(); track $index) {
            <pre>{{ error.message || error.kind }}</pre>
          }
        </div>
      }
      @if (formControl) {
        <div>Touched</div>
        <div class="app-form-control-demo-card__height-1em">
          @if (!formControl.touched) {
            <mat-icon [inline]="true">close</mat-icon>
          }
          @if (formControl.touched) {
            <mat-icon [inline]="true">check</mat-icon>
          }
          @if (formControl.touched) {
            <a href="javascript: void(0)" (click)="formControl.markAsUntouched(); $event.preventDefault()">(reset)</a>
          }
        </div>
        <div>Dirty</div>
        <div class="app-form-control-demo-card__height-1em">
          @if (!formControl.dirty) {
            <mat-icon [inline]="true">close</mat-icon>
          }
          @if (formControl.dirty) {
            <mat-icon [inline]="true">check</mat-icon>
          }
          @if (formControl.dirty) {
            <a href="javascript: void(0)" (click)="formControl.markAsPristine(); $event.preventDefault()">(reset)</a>
          }
        </div>
        <div>Errors</div>
        <div>
          <pre>{{ formControl.errors | json }}</pre>
        </div>
      }
      @for (data of additionalData() | keyvalue; track data.key) {
        <div>{{ data.key }}</div>
        <div>{{ data.value }}</div>
      }
    </div>

    Code:
    <app-code-files [files]="codeFiles()" />
  </mat-card-content>
</mat-card>
