<mat-card>
  <mat-card-header>
    <mat-card-title>{{
      type === 'form' ? 'Reactive forms' : type === 'model' ? '[(ngModel)] binding' : '[(value)] binding'
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <ng-content />
    </div>
    <div class="app-form-control-demo-card__state">
      <div>Value</div>
      <div>
        <pre>{{ formControl?.value ?? value }}</pre>
      </div>
      <div>Value Type</div>
      <div>
        <pre>{{ getType(formControl?.value ?? value) }}</pre>
      </div>
      @if (formControl) {
        <div>Touched</div>
        <div class="app-form-control-demo-card__height-1em">
          @if (!formControl.touched) {
            <mat-icon [inline]="true">close</mat-icon>
          }
          @if (formControl.touched) {
            <mat-icon [inline]="true">check</mat-icon>
          }
          @if (formControl.touched) {
            <a href="javascript: void(0)" (click)="formControl.markAsUntouched(); $event.preventDefault()">(reset)</a>
          }
        </div>
        <div>Dirty</div>
        <div class="app-form-control-demo-card__height-1em">
          @if (!formControl.dirty) {
            <mat-icon [inline]="true">close</mat-icon>
          }
          @if (formControl.dirty) {
            <mat-icon [inline]="true">check</mat-icon>
          }
          @if (formControl.dirty) {
            <a href="javascript: void(0)" (click)="formControl.markAsPristine(); $event.preventDefault()">(reset)</a>
          }
        </div>
        <div>Errors</div>
        <div>
          <pre>{{ formControl.errors | json }}</pre>
        </div>
      }
      @for (data of additionalData | keyvalue; track data.key) {
        <div>{{ data.key }}</div>
        <div>{{ data.value }}</div>
      }
    </div>

    Code:
    <app-code-files [files]="codeFiles" />
  </mat-card-content>
</mat-card>
