<div class="app-file-input__container">
  <button type="button" data-cy="fileUploadButton" mat-stroked-button [disabled]="readonly || disabled" (click)="input.click()">
    <mat-icon>upload</mat-icon>
    <span i18n="@@zvc.uploadFile">Upload file</span>
    <input
      class="app-file-input__input"
      type="file"
      [attr.placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [required]="required"
      [accept]="accept"
      (change)="onFileSelected($event)"
      #input
    />
  </button>
  <span class="app-file-input__text">{{ value?.name ?? (placeholder || fileSelectText) }}</span>
  @if (!empty && !readonly && !disabled) {
    <button type="button" mat-icon-button class="app-file-input__remove" (click)="removeFile()">
      <mat-icon>close</mat-icon>
    </button>
  }
</div>
