<div [matTooltip]="tooltip" [matTooltipDisabled]="!multiple">
  <mat-select
    [ngModel]="value"
    [disableOptionCentering]="true"
    [compareWith]="compareWith"
    [disabled]="disabled"
    [multiple]="multiple"
    [errorStateMatcher]="errorStateMatcher"
    [panelClass]="panelClass"
    [placeholder]="placeholder"
    [required]="required"
    (valueChange)="onValueChange($event)"
    (selectionChange)="onSelectionChange($event)"
    (openedChange)="onOpenedChange($event)"
  >
    <mat-select-trigger *ngIf="!multiple && triggerTemplate && !empty">
      <ng-container
        *ngIf="triggerTemplate"
        [ngTemplateOutlet]="triggerTemplate"
        [ngTemplateOutletContext]="{ $implicit: $customTriggerData() }"
      >
      </ng-container>
    </mat-select-trigger>

    <mat-select-trigger *ngIf="multiple && !empty" class="zv-select__multiple-trigger">
      <div class="zv-select__multiple-trigger__label">
        <ng-container *ngIf="!triggerTemplate">{{ $selectedItemsTriggerLabel() }}</ng-container>
        <ng-container
          *ngIf="triggerTemplate"
          [ngTemplateOutlet]="triggerTemplate"
          [ngTemplateOutletContext]="{ $implicit: $customTriggerData() }"
        >
        </ng-container>
      </div>
      <div
        *ngIf="$customTriggerDataArray().length > 1 && selectedLabel"
        class="zv-select__multiple-trigger__selected-label"
        i18n="@@select.xSelectedLabel"
      >
        ({{ $customTriggerDataArray().length }} selected)
      </div>
    </mat-select-trigger>

    <mat-option class="zv-select__search">
      <ngx-mat-select-search
        [formControl]="filterCtrl"
        [searching]="loading"
        [showToggleAllCheckbox]="showToggleAll"
        [toggleAllCheckboxChecked]="toggleAllCheckboxChecked"
        [toggleAllCheckboxIndeterminate]="toggleAllCheckboxIndeterminate"
        (toggleAll)="onToggleAll($event)"
      ></ngx-mat-select-search>
    </mat-option>

    <mat-option *ngIf="hasError" [disabled]="true" class="zv-select__error">
      <span class="zv-select__error-message">{{ error | zvErrorMessage }}</span>
    </mat-option>

    <mat-option *ngIf="showEmptyInput" class="zv-select__empty-option"> -- </mat-option>

    <mat-option
      *ngFor="let item of items; trackBy: trackByOptions"
      [value]="item.value"
      [class.zv-select__option--hidden]="item.hidden"
      [disabled]="item.disabled"
      class="zv-select__option"
    >
      <ng-container *ngIf="!optionTemplate">
        {{ item.label }}
      </ng-container>
      <ng-template *ngIf="optionTemplate" [ngTemplateOutlet]="optionTemplate" [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    </mat-option>
  </mat-select>
</div>
