.ps-select__option--hidden {
  display: none !important;
}
.ps-select__error-message {
  color: red;
}

ngx-mat-select-search .mat-select-search-clear {
  line-height: 1;
  width: 2.5em;
  height: 2.5em;
}
