.zv-select__option--hidden {
  display: none !important;
}
.zv-select__error-message {
  color: var(--zv-components-error);
}

ngx-mat-select-search .mat-select-search-clear {
  line-height: 1;
  width: 2.5em;
  height: 2.5em;
}

.zv-select__multiple-trigger {
  display: flex;
  gap: 0.5em;
}
.zv-select__multiple-trigger__label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.zv-select__multiple-trigger__selected-label {
  opacity: 0.75;
  font-size: 0.75em;
  padding-right: 0.5em;
}
