<div [matTooltip]="tooltip" [matTooltipDisabled]="!multiple">
  <mat-select
    [ngModel]="value"
    [disableOptionCentering]="true"
    [compareWith]="compareWith"
    [disabled]="disabled"
    [multiple]="multiple"
    [errorStateMatcher]="errorStateMatcher"
    [panelClass]="panelClass"
    [placeholder]="placeholder"
    [required]="required"
    (valueChange)="onValueChange($event)"
    (selectionChange)="onSelectionChange($event)"
    (openedChange)="onOpenedChange($event)"
  >
    @if (!multiple && triggerTemplate && !empty) {
      <mat-select-trigger>
        @if (triggerTemplate) {
          <ng-container [ngTemplateOutlet]="triggerTemplate" [ngTemplateOutletContext]="{ $implicit: $customTriggerData() }">
          </ng-container>
        }
      </mat-select-trigger>
    }

    @if (multiple && !empty) {
      <mat-select-trigger class="zv-select__multiple-trigger">
        <div class="zv-select__multiple-trigger__label">
          @if (!triggerTemplate) {
            {{ $selectedItemsTriggerLabel() }}
          }
          @if (triggerTemplate) {
            <ng-container [ngTemplateOutlet]="triggerTemplate" [ngTemplateOutletContext]="{ $implicit: $customTriggerData() }">
            </ng-container>
          }
        </div>
        @if ($customTriggerDataArray().length > 1 && selectedLabel) {
          <div class="zv-select__multiple-trigger__selected-label" i18n="@@zvc.xSelectedLabel">
            ({{ $customTriggerDataArray().length }} selected)
          </div>
        }
      </mat-select-trigger>
    }

    <mat-option class="zv-select__search">
      <ngx-mat-select-search
        [formControl]="filterCtrl"
        [searching]="loading"
        [showToggleAllCheckbox]="showToggleAll"
        [toggleAllCheckboxChecked]="toggleAllCheckboxChecked"
        [toggleAllCheckboxIndeterminate]="toggleAllCheckboxIndeterminate"
        (toggleAll)="onToggleAll($event)"
      ></ngx-mat-select-search>
    </mat-option>

    @if (hasError) {
      <mat-option [disabled]="true" class="zv-select__error">
        <span class="zv-select__error-message">{{ error | zvErrorMessage }}</span>
      </mat-option>
    }

    @if (showEmptyInput) {
      <mat-option class="zv-select__empty-option"> -- </mat-option>
    }

    @for (item of items; track trackByOptions($index, item)) {
      <mat-option [value]="item.value" [class.zv-select__option--hidden]="item.hidden" [disabled]="item.disabled" class="zv-select__option">
        @if (!optionTemplate) {
          {{ item.label }}
        }
        @if (optionTemplate) {
          <ng-template [ngTemplateOutlet]="optionTemplate" [ngTemplateOutletContext]="{ $implicit: item }"> </ng-template>
        }
      </mat-option>
    }
  </mat-select>
</div>
