<app-version version="19.1.1">
  <app-change>ZvViewDataSource is now being exported for usage.</app-change>
</app-version>
<app-version version="19.1.0">
  <app-change>ZvView and IZvViewDataSource now use signals to update the component's state.</app-change>
</app-version>
<app-version version="19.0.0">
  <app-change>Angular 19 upgrade.</app-change>
</app-version>

<app-version version="18.1.3">
  <app-change>table: Sort selectbox does not show sorted column after reload.</app-change>
</app-version>

<app-version version="18.1.2">
  <app-change>table: Fix isHiddenFn not being respected for table action submenus.</app-change>
</app-version>

<app-version version="18.0.3">
  <app-change>dialog-wrapper: Fix gap between actions buttons.</app-change>
  <app-change>form-field: Fix padding of checkboxes and radio groups.</app-change>
  <app-change>header: Fix margins and introduce --zv-header-margin-bottom css variable.</app-change>
</app-version>

<app-version version="18.0.0">
  <app-change>Angular 18 upgrade.</app-change>
  <app-change
    >SCSS: &#64;include comp.zvoove-components-theme($theme); was renamed to &#64;include comp.zvoove-components-m2-theme($theme); and
    &#64;include comp.zvoove-components-theme($theme); is now the m3 variant.</app-change
  >
  <app-change>IZvButton: color names are different for m3 theme (primary, secondary, tertiary, error).</app-change>
  <app-change
    >zv-button: New button component, which enables changing of the type dynamically. Only use it if you actually need this.</app-change
  >
  <app-change>Everything is standalone now.</app-change>
  <app-change>Standalone components have their "Component" suffix removed.</app-change>
  <app-change>Standalone Directives have their "Directive" suffix removed.</app-change>
  <app-change>select: Use provideSelectService instead of ZvSelectModule.forRoot().</app-change>
  <app-change>form: Use provideFormService instead of ZvFormBaseModule.forRoot().</app-change>
</app-version>

<app-version version="17.7.0">
  <app-change
    >Table: ZvTableSettingsService has now a preferSortDropdown property, which sets the global default. This defaults to false
    now.</app-change
  >
</app-version>

<app-version version="17.6.0">
  <app-change
    >Table: Header sorting can be enabled by setting [preferSortDropdown]="false" and not providing any [sortDefinitions].</app-change
  >
  <app-change
    >Table: Fixes casing of some i18n keys. <b>BREAKING CHANGE</b> please see <a [routerLink]="['/', 'general-setup']">general setup</a> for
    up to date list of keys.</app-change
  >
  <app-change>Table: (page) output is deprecated now, use the datasource to detect paginations</app-change>
</app-version>

<app-version version="17.5.0">
  <app-change>Table is now converted to standalone.</app-change>
  <app-change
    >ZvTableModule is now a array of all public table components instead of a real module. If you just used it for importing, then it should
    be backwards compatible.</app-change
  >
</app-version>

<app-version version="17.4.0">
  <app-change>'property' input of zv-table-column is now required</app-change>
</app-version>

<app-version version="17.3.0">
  <app-change>Table moved to i18n. See <a [routerLink]="['/', 'general-setup']">general setup</a> for available i18n tags.</app-change>
</app-version>

<app-version version="0.0.0 - 17.2.x">
  <app-change> ¯\_(ツ)_/¯ </app-change>
</app-version>
