<app-version version="17.7.0">
  <app-change
    >Table: ZvTableSettingsService has now a preferSortDropdown property, which sets the global default. This defaults to false
    now.</app-change
  >
</app-version>

<app-version version="17.6.0">
  <app-change
    >Table: Header sorting can be enabled by setting [preferSortDropdown]="false" and not providing any [sortDefinitions].</app-change
  >
  <app-change
    >Table: Fixes casing of some i18n keys. <b>BREAKING CHANGE</b> please see <a [routerLink]="['/', 'general-setup']">general setup</a> for
    up to date list of keys.</app-change
  >
  <app-change>Table: (page) output is deprecated now, use the datasource to detect paginations</app-change>
</app-version>

<app-version version="17.5.0">
  <app-change>Table is now converted to standalone.</app-change>
  <app-change
    >ZvTableModule is now a array of all public table components instead of a real module. If you just used it for importing, then it should
    be backwards compatible.</app-change
  >
</app-version>

<app-version version="17.4.0">
  <app-change>'property' input of zv-table-column is now required</app-change>
</app-version>

<app-version version="17.3.0">
  <app-change>Table moved to i18n. See <a [routerLink]="['/', 'general-setup']">general setup</a> for available i18n tags.</app-change>
</app-version>

<app-version version="0.0.0 - 17.2.x">
  <app-change> ¯\_(ツ)_/¯ </app-change>
</app-version>
