@if (caption) {
  <h2 class="zv-table-header__caption">{{ caption }}</h2>
}
@if (customHeader) {
  <div class="zv-table-header__custom-content">
    <ng-container [ngTemplateOutlet]="customHeader"></ng-container>
  </div>
}
@if (showSorting) {
  <zv-table-sort
    class="zv-table-header__sort"
    [sortColumn]="sortColumn"
    [sortDirection]="sortDirection"
    [sortDefinitions]="sortDefinitions"
    (sortChanged)="sortChanged.emit($event)"
  ></zv-table-sort>
}
@if (filterable) {
  <zv-table-search
    class="zv-table-header__search"
    [searchText]="searchText"
    [debounceTime]="300"
    (searchChanged)="searchChanged.emit($event)"
  ></zv-table-search>
}
@if (topButtonSection) {
  <div class="zv-table-header__actions">
    <ng-container [ngTemplateOutlet]="topButtonSection" [ngTemplateOutletContext]="{ $implicit: selectedRows }"></ng-container>
  </div>
}
