<mat-form-field>
  <mat-label>{{ intl.sortLabel }}</mat-label>
  <mat-select [value]="sortColumn" (selectionChange)="onSortColumnChange($event)">
    <mat-option *ngFor="let sortDefinition of sortDefinitions; trackBy: trackBy" [value]="sortDefinition.prop">{{
      sortDefinition.displayName
    }}</mat-option>
  </mat-select>
</mat-form-field>
<button
  mat-mini-fab
  type="button"
  (click)="onSortDirectionChange('desc')"
  class="zv-table-sort__dir-button"
  [class.zv-table-sort__dir-button--inactive]="sortDirection === 'asc'"
>
  <mat-icon>arrow_downward</mat-icon>
</button>
<button
  mat-mini-fab
  type="button"
  (click)="onSortDirectionChange('asc')"
  class="zv-table-sort__dir-button"
  [class.zv-table-sort__dir-button--inactive]="sortDirection === 'desc'"
>
  <mat-icon>arrow_upward</mat-icon>
</button>
