<!--
  mat-menu-item has to be in the same template as the parent mat-menu otherwise the arrow and hover action for child mat-menus breaks
  https://github.com/angular/components/issues/16457
-->
<mat-menu #menu>
  <ng-template matMenuContent>
    <ng-container *ngFor="let action of actions">
      <button
        *ngIf="!action.children; else branch"
        mat-menu-item
        [disabled]="action.isDisabledFn && action.isDisabledFn(items)"
        (click)="action.actionFn(items)"
      >
        <mat-icon [style.color]="action.iconColor">{{ action.icon }}</mat-icon>
        {{ action.label }}
      </button>
      <ng-template #branch>
        <button mat-menu-item [matMenuTriggerFor]="innerPanel.menu">
          <mat-icon [style.color]="action.iconColor">{{ action.icon }}</mat-icon>
          {{ action.label }}
        </button>
        <ps-table-actions #innerPanel [actions]="action.children | psTableActionsToRender: items" [items]="items"></ps-table-actions>
      </ng-template>
    </ng-container>
    <!-- ng-content is deprecated here, as it doesn't work correctly, if it contains a mat-menu-item with a child met-menu -->
    <ng-content></ng-content>
    <button *ngIf="refreshable" type="button" mat-menu-item (click)="refreshData.emit()">
      <mat-icon>refresh</mat-icon>
      {{ intl.refreshListLabel }}
    </button>
    <button *ngIf="settingsEnabled" type="button" mat-menu-item (click)="showSettings.emit()">
      <mat-icon>settings</mat-icon>
      {{ intl.settingsLabel }}
    </button>
  </ng-template>
</mat-menu>
