zv-table-header {
  padding: 0 16px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.zv-table-header__caption {
  flex-basis: 100%;
}

.zv-table-header__sort {
  flex: 0 1 350px;
  margin-right: auto; /* This counters the margin of the actions to push the search back to the middle */
}

.zv-table-header__search {
  flex: 0 1 800px;
}

.zv-table-header__actions {
  flex-basis: auto;
  margin: 0.3em 8px 1em;
  text-align: end;
  align-self: flex-end;
  margin-left: auto; /* This ensures that the actions are always right, even if there is no other flex item */
}
