<!--
mat-menu-item has to be in the same template as the parent mat-menu otherwise the arrow and hover action for child mat-menus breaks
https://github.com/angular/components/issues/16457
-->
<mat-menu #menu>
  <zv-block-ui [blocked]="loading()">
    <ng-template matMenuContent>
      @for (action of actions(); track action) {
        @switch (action | zvTableActionType) {
          @case ('button') {
            <button mat-menu-item [disabled]="action.isDisabledFn && action.isDisabledFn(items())" (click)="action.actionFn!(items())">
              @if (showIcon()) {
                <ng-container
                  ngProjectAs="mat-icon"
                  [ngTemplateOutlet]="actionIcon"
                  [ngTemplateOutletContext]="{ $implicit: action }"
                ></ng-container>
              }
              {{ action.label }}
            </button>
          }
          @case ('link') {
            <a mat-menu-item [routerLink]="action.routerLink!(items()).path" [queryParams]="action.routerLink!(items()).queryParams">
              @if (showIcon()) {
                <ng-container
                  ngProjectAs="mat-icon"
                  [ngTemplateOutlet]="actionIcon"
                  [ngTemplateOutletContext]="{ $implicit: action }"
                ></ng-container>
              }
              {{ action.label }}
            </a>
          }
          @case ('menu') {
            <button mat-menu-item [matMenuTriggerFor]="innerPanel.menu()">
              @if (showIcon()) {
                <ng-container
                  ngProjectAs="mat-icon"
                  [ngTemplateOutlet]="actionIcon"
                  [ngTemplateOutletContext]="{ $implicit: action }"
                ></ng-container>
              }
              {{ action.label }}
            </button>
            <zv-table-actions
              #innerPanel
              [actions]="action.children! | zvTableActionsToRender: items()"
              [items]="items()"
              [root]="false"
            ></zv-table-actions>
          }
        }
      }
    </ng-template>
  </zv-block-ui>
</mat-menu>
<ng-template let-action #actionIcon>
  <!-- Setting either [innerHTML] or [svgIcon] seems not to work correctly. -->
  @if (!action.isSvgIcon) {
    <mat-icon [style.color]="action.iconColor">{{ action.icon }}</mat-icon>
  }
  @if (action.isSvgIcon === true) {
    <mat-icon [style.color]="action.iconColor" [svgIcon]="action.icon"></mat-icon>
  }
</ng-template>
