zv-table-header {
  padding: 0 16px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  border-radius: 4px 4px 0 0;
  min-height: 5px;
}

.zv-table-header__caption {
  flex-basis: 100%;
}

.zv-table-header__sort {
  flex: 0 1 350px;
  margin-right: auto; /* This counters the margin of the actions to push the search back to the middle */
}

.zv-table-header__search {
  flex: 0 1 800px;
}

.zv-table-header__actions {
  flex-basis: auto;
  margin: 8px 8px 1em auto; /* auto (margin-left) ensures that the actions are always right, even if there is no other flex item */
  text-align: end;
  align-self: flex-start;
}
