.zv-table-data__table {
  width: 100%;

  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: 0 0.25em;
  }

  .zv-table-data__options-column {
    text-align: right;
  }
  th.zv-table-data__options-column-header {
    color: var(--zv-components-font);
    text-align: right;
  }

  tr.zv-table-data__detail-row {
    min-height: 0;
    height: auto;

    & > td {
      padding: 0;
    }
  }
}

.zv-block-ui__clickthrough:not(.zv-table__shadow) .zv-table-data__table {
  border-radius: 4px;
  overflow: hidden;
}

.zv-table-data__detail-row--collapsed > .zv-table-data__detail-cell {
  border-bottom-width: 0;
}

zv-table.zv-table--striped:not(.zv-table--row-detail) tbody tr:nth-child(even),
zv-table.zv-table--striped.zv-table--row-detail tbody tr:nth-child(4n + 3),
zv-table.zv-table--striped.zv-table--row-detail tbody tr:nth-child(4n + 4) {
  background-color: #f9fbff;
}
