.zv-table-row-detail {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms ease-out;
}

.zv-table-row-detail--open {
  grid-template-rows: 1fr;
  transition: grid-template-rows 300ms ease-in;
}

.zv-table-row-detail__content {
  min-height: 0;
  overflow: hidden;
}
