<ng-container *ngIf="actions | psTableActionsToRender: item as visibleActions">
  <ng-container *ngIf="visibleActions.length >= moreMenuThreshold || actionsTemplate; else thresholdReachedTemplate">
    <button mat-icon-button type="button" [matMenuTriggerFor]="rowActionsComponent.menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <ps-table-actions #rowActionsComponent [actions]="actions" [items]="itemAsArray">
      <ng-container [ngTemplateOutlet]="actionsTemplate" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
    </ps-table-actions>
  </ng-container>
  <ng-template #thresholdReachedTemplate>
    <ng-container *ngFor="let action of visibleActions">
      <ng-container [ngSwitch]="action | psTableActionType">
        <button
          type="button"
          *ngSwitchCase="'button'"
          mat-icon-button
          [disabled]="action.isDisabledFn && action.isDisabledFn(itemAsArray)"
          (click)="action.actionFn(itemAsArray)"
          [matTooltip]="action.label"
        >
          <ng-container [ngTemplateOutlet]="actionIcon" [ngTemplateOutletContext]="{ $implicit: action }"></ng-container>
        </button>
        <a
          *ngSwitchCase="'link'"
          mat-menu-item
          [routerLink]="action.routerLink([item]).path"
          [queryParams]="action.routerLink([item]).queryParams"
        >
          <ng-container [ngTemplateOutlet]="actionIcon" [ngTemplateOutletContext]="{ $implicit: action }"></ng-container>
          {{ action.label }}
        </a>
        <ng-container *ngSwitchCase="'menu'">
          <button
            type="button"
            *ngIf="action.children?.length"
            mat-icon-button
            [disabled]="action.isDisabledFn && action.isDisabledFn(itemAsArray)"
            [matMenuTriggerFor]="iconActions.menu"
            [matTooltip]="action.label"
          >
            <ng-container [ngTemplateOutlet]="actionIcon" [ngTemplateOutletContext]="{ $implicit: action }"></ng-container>
          </button>
          <ps-table-actions #iconActions [actions]="action.children" [items]="itemAsArray" [isRoot]="false"></ps-table-actions>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</ng-container>
<ng-template let-action #actionIcon>
  <!-- Setting either [innerHTML] or [svgIcon] seems not to work correctly. -->
  <mat-icon *ngIf="!action.isSvgIcon" [style.color]="action.iconColor">{{ action.icon }}</mat-icon>
  <mat-icon *ngIf="action.isSvgIcon === true" [style.color]="action.iconColor" [svgIcon]="action.icon"></mat-icon>
</ng-template>
