@if (combinedActions() | zvTableActionsToRender: item(); as visibleActions) {
  @if (visibleActions.length >= moreMenuThreshold() || openMenuFn()) {
    <button mat-icon-button type="button" [matMenuTriggerFor]="rowActionsComponent.menu()" (click)="onMenuButtonClicked()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <zv-table-actions #rowActionsComponent [actions]="visibleActions" [items]="itemAsArray()" [loading]="loading()"> </zv-table-actions>
  } @else {
    @for (action of visibleActions; track action) {
      @switch (action | zvTableActionType) {
        @case ('button') {
          <button
            type="button"
            mat-icon-button
            [disabled]="action.isDisabledFn && action.isDisabledFn(itemAsArray())"
            (click)="action.actionFn(itemAsArray())"
            [matTooltip]="action.label"
          >
            <ng-container [ngTemplateOutlet]="actionIcon" [ngTemplateOutletContext]="{ $implicit: action }"></ng-container>
          </button>
        }
        @case ('link') {
          <a
            mat-menu-item
            [routerLink]="action.routerLink(itemAsArray()).path"
            [queryParams]="action.routerLink(itemAsArray()).queryParams"
          >
            <ng-container [ngTemplateOutlet]="actionIcon" [ngTemplateOutletContext]="{ $implicit: action }"></ng-container>
            {{ action.label }}
          </a>
        }
        @case ('menu') {
          @if (action.children?.length) {
            <button
              type="button"
              mat-icon-button
              (click)="onMenuButtonClicked()"
              [disabled]="action.isDisabledFn && action.isDisabledFn(itemAsArray())"
              [matMenuTriggerFor]="iconActions.menu()"
              [matTooltip]="action.label"
            >
              <ng-container [ngTemplateOutlet]="actionIcon" [ngTemplateOutletContext]="{ $implicit: action }"></ng-container>
            </button>
          }
          <zv-table-actions #iconActions [actions]="action.children" [items]="itemAsArray()" [root]="false"></zv-table-actions>
        }
      }
    }
  }
}

<ng-template let-action #actionIcon>
  <!-- Setting [innerHTML] and [svgIcon] at the same time, but one of them empty/null seems not to work correctly. -->
  @if (!action.isSvgIcon) {
    <mat-icon [style.color]="action.iconColor">{{ action.icon }}</mat-icon>
  }
  @if (action.isSvgIcon === true) {
    <mat-icon [style.color]="action.iconColor" [svgIcon]="action.icon"></mat-icon>
  }
</ng-template>
