<!-- eslint-disable @angular-eslint/template/use-track-by-function -->
<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<mat-card *ngIf="settings$ | async as settings">
  <mat-card-header>
    <mat-card-title>{{ intl.settingsLabel }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="zv-table-settings__form">
      <div class="zv-table-settings__form__display-columns">
        <strong>{{ intl.displayedColumnsLabel }}</strong>
        <ng-container *ngFor="let columnDef of columnDefinitions">
          <mat-checkbox
            [disabled]="settings.sortColumn === columnDef.property || columnDef.mandatory"
            *ngIf="columnDef.header && columnDef.property"
            [checked]="columnVisible(settings, columnDef)"
            (change)="onColumnVisibilityChange($event, settings, columnDef)"
          >
            {{ columnDef.header }}
          </mat-checkbox>
        </ng-container>
      </div>

      <zv-table-sort
        *ngIf="sortDefinitions.length"
        [sortColumn]="settings.sortColumn"
        [sortDirection]="settings.sortDirection"
        [sortDefinitions]="sortDefinitions"
        [intl]="intl"
        (sortChanged)="onSortChanged($event, settings)"
      ></zv-table-sort>

      <mat-form-field>
        <mat-label>{{ intl.itemsPerPageLabel }}</mat-label>
        <mat-select [(value)]="settings.pageSize">
          <mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">{{ pageSizeOption }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container [ngTemplateOutlet]="customSettings" [ngTemplateOutletContext]="{ $implicit: settings }"></ng-container>
  </mat-card-content>
  <mat-card-actions class="zv-table-settings__actions">
    <button mat-raised-button color="primary" (click)="onSaveClick(settings)">{{ intl.saveLabel }}</button>
    <button style="margin-left: 1em" mat-stroked-button (click)="onCancelClick()">{{ intl.cancelLabel }}</button>
  </mat-card-actions>
</mat-card>
