<table mat-table multiTemplateDataRows class="zv-table-data__table" [dataSource]="dataSource" [trackBy]="dataSource.trackBy">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="onMasterToggleChange()" [checked]="isMasterToggleChecked()" [indeterminate]="isMasterToggleIndeterminate()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" style="width: 55px">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="onRowToggleChange(row)" [checked]="isRowSelected(row)"> </mat-checkbox>
    </td>
  </ng-container>

  <!-- Row Detail Expander Column-->
  <ng-container matColumnDef="rowDetailExpander">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" style="width: 70px">
      <button *ngIf="showRowDetails(row)" mat-icon-button color="primary" type="button" (click)="toggleRowDetail(row)">
        <mat-icon>{{ rowDetail.isExpanded(row) ? 'expand_more' : 'chevron_right' }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Dynamic Columns -->
  <ng-container *ngFor="let columnDef of columnDefs">
    <ng-container [matColumnDef]="columnDef.property">
      <th mat-header-cell *matHeaderCellDef [ngStyle]="columnDef.headerStyles" [style.width]="columnDef.width">
        <ng-container *ngIf="!columnDef.headerTemplate; else customHeaderTemplate">
          {{ columnDef.header }}
        </ng-container>
        <ng-template #customHeaderTemplate [ngTemplateOutlet]="columnDef.headerTemplate"></ng-template>
      </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="columnDef.columnStyles">
        <ng-container *ngIf="!columnDef.columnTemplate; else customRowTemplate">
          {{ element[columnDef.property] }}
        </ng-container>
        <ng-template
          #customRowTemplate
          [ngTemplateOutlet]="columnDef.columnTemplate"
          [ngTemplateOutletContext]="{ $implicit: element, expanded: rowDetail?.isExpanded(element) || false }"
        >
        </ng-template>
      </td>
    </ng-container>
  </ng-container>

  <!--Option Column-->
  <ng-container matColumnDef="options">
    <th class="zv-table-data__options-column-header" mat-header-cell *matHeaderCellDef>
      <ng-container *ngIf="showListActions">
        <button mat-icon-button type="button" [matMenuTriggerFor]="listActionsComponent.menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <zv-table-actions
          #listActionsComponent
          [actions]="dataSource.listActions"
          [items]="getSelectedRows()"
          [refreshable]="refreshable"
          [settingsEnabled]="settingsEnabled"
          [intl]="intl"
          (refreshData)="onRefreshDataClicked()"
          (showSettings)="onShowSettingsClicked()"
        >
          <ng-template [ngTemplateOutlet]="listActions" [ngTemplateOutletContext]="{ $implicit: getSelectedRows() }"></ng-template>
        </zv-table-actions>
      </ng-container>
    </th>
    <td class="zv-table-data__options-column" mat-cell *matCellDef="let element">
      <zv-table-row-actions
        [actions]="dataSource.rowActions"
        [loadActionsFn]="dataSource.loadRowActionFn"
        [openMenuFn]="dataSource.openMenuRowActionFn"
        [actionsTemplate]="rowActions"
        [item]="element"
        [moreMenuThreshold]="dataSource.moreMenuThreshold"
      >
      </zv-table-row-actions>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container *ngIf="rowDetail" matColumnDef="__rowDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" class="zv-table-data__detail-cell">
      <zv-table-row-detail [show]="rowDetail.isExpanded(element)" [element]="element" [rowDetail]="rowDetail"></zv-table-row-detail>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="zv-table-data__row" *matRowDef="let row; columns: displayedColumns"></tr>
  <ng-container *ngIf="rowDetail">
    <tr
      mat-row
      *matRowDef="let row; columns: ['__rowDetail']"
      class="zv-table-data__detail-row"
      [class.zv-table-data__detail-row--collapsed]="!rowDetail.isExpanded(row)"
      [class.zv-table-data__detail-row--expanded]="rowDetail.isExpanded(row)"
    ></tr>
  </ng-container>
</table>
