app-code {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.app-code__hidden-code {
  display: none;
}

.app-code__code {
  margin: 0;

  .hljs {
    padding: 0 !important;
    margin: 0;
    border-radius: 4px;

    .hljs-ln {
      padding: 10px 0;

      tr {
        &:first-child td {
          padding-top: 10px !important;
        }

        &:last-child td {
          padding-bottom: 10px !important;
        }
      }
    }

    /* for block of numbers */
    td.hljs-ln-numbers {
      text-align: center;
      border-right: 1px solid #ccc;
      vertical-align: top;
      padding-right: 10px !important;
      padding-left: 10px !important;
    }

    /* for block of code */
    td.hljs-ln-code {
      padding-left: 10px !important;
    }
  }
}

@import 'highlight.js/styles/github';
