<mat-toolbar [style.height]="'50px'">
  &#64;zvoove/components
  <div class="app-root__locale-box">
    Theme:
    <button ngSkipHydration mat-button type="button" (click)="theme.set('m2')" [class.app-root__locale-active]="theme() === 'm2'">
      m2
    </button>
    <button ngSkipHydration mat-button type="button" (click)="theme.set('m3')" [class.app-root__locale-active]="theme() === 'm3'">
      m3
    </button>
  </div>
  <div class="app-root__locale-box">
    LOCALE_ID:
    @for (locale of supportedLocales; track trackByString($index, locale)) {
      <button mat-button type="button" (click)="setLocaleId(locale)" [class.app-root__locale-active]="locale === localeId">
        {{ locale }}
      </button>
    }
  </div>
</mat-toolbar>
<mat-sidenav-container class="app-root__sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
      <div mat-subheader>Forms</div>
      <a mat-list-item [routerLink]="['form']">Form</a>
      <a mat-list-item [routerLink]="['form-errors']">Form Errors</a>
      <a mat-list-item [routerLink]="['form-field']">Form Field</a>
      <mat-divider />

      <div mat-subheader>Form Controls</div>
      <a mat-list-item [routerLink]="['date-time-input']">Date Time Input</a>
      <a mat-list-item [routerLink]="['file-input']">File Input</a>
      <a mat-list-item [routerLink]="['number-input']">Number Input</a>
      <a mat-list-item [routerLink]="['select']">Select</a>
      <mat-divider />

      <div mat-subheader>Components</div>
      <a mat-list-item [routerLink]="['action-button']">Action Button</a>
      <a mat-list-item [routerLink]="['block-ui']">Block Ui</a>
      <a mat-list-item [routerLink]="['button']">Button</a>
      <a mat-list-item [routerLink]="['card']">Card</a>
      <a mat-list-item [routerLink]="['dialog-wrapper']">Dialog Wrapper</a>
      <a mat-list-item [routerLink]="['flip-container']">Flip Container</a>
      <a mat-list-item [routerLink]="['header']">Header</a>
      <a mat-list-item [routerLink]="['table']">Table</a>
      <a mat-list-item [routerLink]="['view']">View</a>

      <div mat-subheader>General</div>
      <a mat-list-item [routerLink]="['general-setup']">Setup</a>
      <a mat-list-item [routerLink]="['upgrade-notes']">Upgrade Notes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-root__sidenav-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
