.zv-form__main-container {
  box-sizing: border-box;
}

.zv-form__cards-container {
  display: grid;
  grid-gap: 1em;
}

.zv-form__error-container {
  color: var(--zv-components-error);
}

.zv-form__error-container--center {
  display: grid;
  justify-items: center;
}

mat-icon.zv-form__error-icon {
  color: var(--zv-components-error);
  font-size: 72px;
  height: 72px;
  width: 72px;
}

.zv-form__buttons {
  display: flex;
  align-items: center;
}

.zv-form__savebar {
  bottom: -1px;
  margin-top: 1em;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

mat-card.zv-form__savebar--sticky {
  position: sticky;
}

.zv-form__savebar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: -0.25em;
  width: 100%; /* Because of `display: flex` this needs to be stretched to 100% */

  button {
    margin: 0.25em;
  }
}

.zv-form__savebar-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: var(--mat-card-elevated-container-shape, var(--mat-shape-medium, 4px));
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  min-height: var(--mat-card-elevated-container-shape, var(--mat-shape-medium, 4px));
}

.zv-form__savebar-border-fill {
  height: 4px;
}
.zv-form__savebar-border-fill--accent {
  background-color: var(--zv-components-font);
}

.zv-form__savebar-progress {
  align-self: center;
}

.zv-form__savebar-spacer {
  margin-right: auto;
}

@media only screen and (max-width: 35em) {
  mat-card.zv-form__savebar--sticky {
    position: initial;
  }
}
