.app-view-data-source-demo__settings {
  margin-bottom: 1em;
}

.app-view-data-source-demo__settings mat-checkbox {
  margin: 1em;
}

.app-view-data-source-demo__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}

.app-view-data-source-demo__logs {
  margin-top: 1em;
}

.app-view-data-source-demo__log-item {
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #ccc;
  font-size: 0.95em;
}
