<button
  type="button"
  [color]="button().color"
  mat-raised-button
  (click)="actionDs().execute()"
  [disabled]="actionDs().pending() || button().isDisabled?.()"
  [attr.data-cy]="button().dataCy"
>
  <div #content class="zv-action-button__button-content">
    @if (actionDs().hasError()) {
      <mat-icon [matTooltip]="actionDs().exception()?.errorObject | zvErrorMessage">{{ actionDs().exception()?.icon }}</mat-icon>
    } @else if (actionDs().pending()) {
      <mat-spinner [diameter]="spinnerDiameter()" />
    } @else if (showSuccessIcon()) {
      <mat-icon>check_circle</mat-icon>
    } @else if (!actionDs().pending() && !showSuccessIcon()) {
      <mat-icon>{{ button().icon }}</mat-icon>
    }
    {{ button().label }}
  </div>
</button>
