<div class="zv-header__text">
  <div class="zv-header__caption mat-headline-6 mat-title-large">
    @if (caption) {
      {{ caption }}
    } @else {
      <ng-container [ngTemplateOutlet]="captionSection"></ng-container>
    }
  </div>
  <div class="zv-header__description mat-body">
    @if (description) {
      {{ description }}
    } @else {
      <ng-container [ngTemplateOutlet]="descriptionSection"></ng-container>
    }
  </div>
</div>
@if (topButtonSection) {
  <div class="zv-header__actions">
    <ng-container [ngTemplateOutlet]="topButtonSection"></ng-container>
  </div>
}
