<div class="zv-header__text">
  <div class="zv-header__caption mat-title">
    <ng-container *ngIf="caption; else customCaptionTemplate">
      {{ caption }}
    </ng-container>
  </div>
  <div class="zv-header__description mat-body">
    <ng-container *ngIf="description; else customDescriptionTemplate">
      {{ description }}
    </ng-container>
  </div>
</div>
<div *ngIf="topButtonSection" class="zv-header__actions">
  <ng-container [ngTemplateOutlet]="topButtonSection"></ng-container>
</div>

<ng-template #customCaptionTemplate>
  <ng-container [ngTemplateOutlet]="captionSection"></ng-container>
</ng-template>

<ng-template #customDescriptionTemplate>
  <ng-container [ngTemplateOutlet]="descriptionSection"></ng-container>
</ng-template>
