zv-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  margin: 0;
  // margin directly on the zv-header makes it possible for users to override it
  margin-bottom: 2em;
}

.zv-header__text {
  flex: 1 0 auto;
}

.zv-header__caption {
  margin-bottom: 0;
}

.zv-header__actions {
  align-self: flex-end;
}
