zv-block-ui {
  display: grid;
  position: relative;
}

.zv-block-ui__clickthrough {
  pointer-events: none;
}

.zv-block-ui__clickthrough > .zv-block-ui__content {
  pointer-events: auto;
}

.zv-block-ui__content {
  grid-column: 1;
  grid-row: 1;
  min-width: 0; // fix for overflow: auto|scroll inside of block-ui
}

.zv-block-ui__overlay {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  background-color: rgba(244, 244, 244, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.zv-block-ui__spinner-container {
  overflow: hidden;
}

.zv-block-ui__spinner {
  display: inline-block;
  margin: auto;
  color: var(--zv-components-primary);
  opacity: 1;
}

.zv-block-ui__overlay-content {
  text-align: center;

  position: sticky;
  top: 10%;
  bottom: 10%;
}
