<!-- eslint-disable @angular-eslint/template/no-call-expression -->
<div #content class="zv-block-ui__content">
  <ng-content></ng-content>
</div>
<ng-container *ngIf="blocked()">
  <div class="zv-block-ui__overlay">
    <div class="zv-block-ui__overlay-content">
      <div class="zv-block-ui__spinner-container">
        <mat-spinner class="zv-block-ui__spinner" [diameter]="spinnerDiameter()"></mat-spinner>
      </div>
      <div class="zv-block-ui__text" *ngIf="spinnerText()">{{ spinnerText() }}</div>
    </div>
  </div>
</ng-container>
