name: publish to npm and deploy demo to gh-pages
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Build
      run: |
        npm ci
        npm run ng -- build components
        npm run ng -- build --prod --baseHref=https://prosoft-edv.github.io/components/
        cp dist/prosoft-components-demo/index.html dist/prosoft-components-demo/404.html
      env:
        CI: true

    - name: Publish
      id: publish
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
        package: ./dist/components/package.json
      
    - if: steps.publish.type != 'none'
      name: Deploy gh-pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages # The branch the action should deploy to.
        FOLDER: dist/prosoft-components-demo # The folder the action should deploy.
        CLEAN: true
